.artistsContractsContainer {
	margin: 0 auto;
	margin-top: 75px;
	max-width: 50rem;
	padding: 4rem;
}

.infoContract {
	display: flex;
	justify-content: space-between;
}

.loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
