.dndContainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	@media screen and (min-width: 880px) {
		flex-direction: row;
	}
}

.dragDropContainer {
	width: 400px;
}
.draggable {
	width: 100%;
}
