.tuneUp__card {
	width: 20rem;
	height: 26rem;
	display: flex;
	flex-direction: column;
}

.tuneUp__buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 5rem;
	margin-top: 1rem;
}

.tuneUp__profilePhotos {
	display: flex;
	flex-direction: column;
	align-items: center;
}
